[submodule "backend"]
	path = backend
	url = https://github.com/ylberprapashtica/milyfe-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/ylberprapashtica/milyfe-frontend.git
